:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --text-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}
body {
  font-family: var(--default-font-family);
  color: var(--text-color);
}
h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}
h6 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
.homepage img {
  padding: 20px 30px;
  background-color: var(--primary-color);
  border-radius: 20px;
  box-shadow: var(--shadow);
}
.projects img {
  padding: 40px;
  background-color: var(--primary-color);
}
h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: black;
}
.hero {
  text-align: center;
  background-color: var(--primary-color);
  padding: 80px 30px;
}
h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  color: black;
}
h2 {
  font-size: 50px;
  line-height: 1.5;
}
.about-section h1 {
  font-size: 64px;
  line-height: 1.5;
}
.about-section h2 {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--default-font-family);
}
.hero p {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  opacity: 100%;
}
.btn-main {
  background-color: var(--secondary-color);
  color: white;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 4px;
  width: 160px;
  padding: 20px 15px;
  margin: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.btn-main:hover {
  background-color: var(--secondary-color);
  color: white;
}
.btn-small-dark {
  background-color: var(--secondary-color);
  color: white;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 15px 25px;
  margin: 25px;
}
.btn-small-dark:hover {
  border: 2px solid var(--secondary-color);
  background: white;
  color: var(--secondary-color);
}
.btn-small-light {
  background-color: white;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 15px 25px;
}
.btn-small-light:hover {
  background-color: var(--secondary-color);
  color: white;
}

.btn-secondary {
  border: 2px solid var(--secondary-color);
  background: white;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 19px 29px;
  width: 160px;
  margin: 25px;
}
.btn-secondary:hover {
  border-color: var(--secondary-color);
  background: white;
  color: var(--secondary-color);
}
.homepage p {
  text-align: center;
  opacity: 70%;
  font-size: 14px;
  font-weight: 400;
}
p {
  font-size: 14px;
  line-height: 1.8;
  opacity: 70%;
}
.buttons {
  display: flex;
  justify-content: center;
}
footer p {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: black;
}
.media-links {
  display: flex;
  justify-content: center;
}
.media-links div a {
  font-size: 18px;
  background: var(--primary-color);
  border-radius: 50%;
  padding: 4px 10px;
  color: var(--secondary-color);
  margin: 10px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}
.media-links div a:hover {
  background-color: var(--secondary-color);
  color: white;
}
.work-inquiry {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 20px;
  background: var(--primary-color);
}
.work-inquiry p {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.work-inquiry-button {
  position: relative;
  top: -23px;
}
.about-section {
  margin: 100px 60px 60px;
}
.about-section img {
  width: 400px;
}
.about-paragraph {
  line-height: 2;
  text-align: justify;
}
.first-paragraph {
  text-indent: 50px;
}
@media (max-width: 576px) {
  h6 {
    font-size: 20px;
  }
  .hero p {
    font-size: 20px;
  }
  h1 {
    font-size: 55px;
  }
  .btn-main {
    font-size: 15px;
    padding: 20px 25px;
    margin: 10px;
  }
  .btn-secondary {
    font-size: 15px;
    padding: 20px 15px;
    margin: 10px;
  }
  .btn-small-dark {
    font-size: 12px;
    padding: 15px 20px;
  }
  footer {
    margin: 10px;
  }
  footer p {
    text-align: center;
    font-size: 16px;
  }
  .work-inquiry p {
    font-size: 12px;
  }
  .about-section h1,
  .about-section h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .projects p,
  .projects h2 {
    text-align: center;
  }
  .projects a {
    display: block;
    text-align: center;
    margin: 20px 50px;
  }
  .projects p {
    margin: 0 10px 30px;
  }
  .work-inquiry {
    padding: 30px 10px 0;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 75px;
  }
  h6 {
    font-size: 20px;
  }
  .hero p {
    font-size: 30px;
  }
}
